<!-- Header -->
<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="/Home/Index">TravelBook</a></h1>
            <span>by Hepret</span>

        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/Countries">Страны</a></li>
                <li><a href="/Gallery">Галерея</a></li>
                <li><a href="/AboutUs">О нас</a></li>
            </ul>
        </nav>

    </header>
</div>

